<div id="nav1">
    <ul class="nav justify-content-end" >
      <li class="nav-item actions" id="login">
         <a class="nav-link" id="login-link" href="#"><mat-icon class="icon" >person</mat-icon>Login</a>
      </li>
      <li class="nav-item actions" id="uploaded">
        <a class="nav-link" href="#" id="upload_link"><mat-icon class="icon">cloud_upload</mat-icon>Uploaded</a>
      </li>
    </ul>
    </div>
    <hr>
    <div id="nav2">
    <ul class="nav">
      <li class="nav-item categories">
        <a class="nav-link categories-link" href="#">Free Apps</a>
      </li>
      <li class="nav-item categories">
        <a class="nav-link categories-link" href="#">Games</a>
      </li>
      <li class="nav-item categories">
        <a class="nav-link categories-link" href="#">Social Apps</a>
      </li>
      <li>
        <div id="search_bar">
          <input id="search" type="text" placeholder="Search.."><a href=""><mat-icon id="search_icon">search</mat-icon></a>
          </div>
      </li>
    </ul>
    
    </div>