#container
{
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 4%;
}

*
{
    padding-left: 10px;
    padding-right: 10px;
    
}
#nav1
{
    font-family: 'Courier New', monospace;
    position: relative;
    text-align: center;
    font-weight: bolder;
    font-size: 1.2em;
}

#nav2
{
    font-family: 'Courier New', monospace;
    font-weight: bolder;
    margin-top: 10px;
    font-size: 1.2em;
}

#company_name
{
    position: absolute;
    text-align: left;
    top: 25%;
   
    
}

.actions, .categories
{
    padding: 5px;
}

.icon {
    vertical-align: middle;
    width: 40%;
}

a{
    width: 100%;
    color: black;
}

a:hover{
    color: black;
}

.categories-link:hover
{
    background-color: lightgray;
    
}

#upload_link, #login_link{
    display: inline-flex;
}

.categories-link{
    border: 2px solid white;
    border-radius: 25px;
    
    
}

 #search_bar {
    position: relative;
  }

  #search{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -10%);
    border: 2px solid lightgray;
    border-radius: 25px;
    width: 50%;
    height: 50px;
  }

  .search-results {
    position: absolute;
    width: 50%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 150px; /* Szükség esetén állítsd be a maximális magasságot */
    overflow-y: auto;
    z-index: 1;
    margin-top: 2%;
    margin-left: 24%;
  }
  
  .search-results li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .search-results li:last-child {
    border-bottom: none;
  }


  #search_icon
  {
    cursor: pointer;
    width: 50%;
    vertical-align: middle;
  }

  #log-btn 
  {
    color: black;
  }

  .categories
  {
    padding: 10px;
    font-family: 'Courier New', monospace;
  }