<div id="container">
  <div id="nav1">
    <div id="company_name">
    <a routerLink="/home" class="nav-link"> <h1 style="font-size: 2em; color: black; font-weight: bolder; font-family: 'Courier New', monospace;">Aruba Marketplace</h1></a>
    </div>
    <div id="search_bar" class="position-relative">
      <input id="search" type="text" [(ngModel)]="searchQuery" (input)="onSearch()" style="font-family: 'Courier New', monospace; font-size: 1.2em;" placeholder="Search products">
      <ul *ngIf="showResults"  class="search-results">
        <li *ngFor="let result of searchResults" >
          <a *ngFor="let id of searchId" routerLink="/products/{{id}}"><ng-container *ngIf="result">{{ result }}</ng-container></a>
        </li>
      </ul>
    </div>
      <ul class="nav justify-content-end" >
        <li class="nav-item actions" id="login">
          <button class="nav-link" id="log-btn" (click)="openLoginModal()" ><mat-icon class="icon"  >person</mat-icon>login</button>
        </li>
        <li class="nav-item actions" id="uploaded">
          <a class="nav-link" routerLink="/shopping-cart" id="upload_link"><mat-icon class="icon" style="width: 100%;">shopping_cart</mat-icon> cart</a>
        </li>
      </ul>
    </div>
    
    <div id="nav2">
    <ul class="nav">
      <li class="nav-item categories">
        <a class="nav-link categories-link" routerLink="/products">All Products</a>
      </li>
      <li class="nav-item categories">
        <a class="nav-link categories-link" routerLink="/category" >Categories</a>
      </li>
      <li class="nav-item categories">
        <a class="nav-link categories-link" href="#">SALE</a>
      </li>
      <li class="nav-item categories">
        <a class="nav-link categories-link" href="#">Contact</a>
      </li>
    </ul>
    
    </div>
  </div>  
    <hr>