<div class="container">
<div class="cart">
    <h2 style="font-family: 'Courier New', monospace; font-weight: bold; font-size: 2em;">Your Shopping Cart</h2>
        <div class="cart-item" *ngFor="let item of cartItems">
          <img [src]="item.img" alt="{{ item.title }}" />
          <div class="item-details" style="width: 70%;">
              <h3>{{ item.title }}</h3>
              <p style=
              "width: 70%; display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden; ">
              {{item.description}}
              </p>
          </div>
          <div class="right-side">
            <button (click)="removeFromCart(item)"><mat-icon>delete</mat-icon></button>
            <p> ${{ item.price }}</p>
          </div>
          
        </div>
  </div>
  <div class="summary" >
    <h2 style="font-family: 'Courier New', monospace; font-weight: bold;">Summary</h2>
      <div class="summary-container" >
        <div class="top" style="padding-right: 10%;">
          <p>Items in the Cart</p>
          <p id="price">${{ calculateTotalPrice() }}</p>
        </div>
        <hr>
        <div class="bottom">
          <div id="total">
            <p style="padding-right: 30%;">Total</p>
            <p >${{ calculateTotalPrice() }}</p>
          </div>
          <br>
          <button class="btn" routerLink="/checkout">Go to checkout</button>
        </div>
      </div>
  </div>
</div>