
<div id="nav1">
<ul class="nav justify-content-end" >
  <li class="nav-item actions" id="login">
     <a class="nav-link" id="login-link" href="#"><mat-icon class="icon" >person</mat-icon>Login</a>
  </li>
  <li class="nav-item actions" id="uploaded">
    <a class="nav-link" href="#" id="upload_link"><mat-icon class="icon">cloud_upload</mat-icon>Uploaded</a>
  </li>
</ul>
</div>
<hr>
<div id="nav2">
<ul class="nav">
  <li class="nav-item categories">
    <a class="nav-link categories-link" href="#">Free Apps</a>
  </li>
  <li class="nav-item categories">
    <a class="nav-link categories-link" href="#">Games</a>
  </li>
  <li class="nav-item categories">
    <a class="nav-link categories-link" href="#">Social Apps</a>
  </li>
</ul>
</div>

<div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>
 


  <app-product-list></app-product-list>
