.pictures
{
    width: 50%;
    height: 50%;
    align-self: center;

}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 3%;
}

.container .card{
flex: 1 0 20em;
}

.card {
    padding: 3%;
    margin: 2%;
    height: 100%;
    width: 270px;
    overflow: hidden;
}

.card:hover{
    box-shadow: 5px 5px #444444;
}

.card-title{
    font-size: 1.5em;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.description
{
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.card_page{
    text-decoration: none;
}

.card_con
{
    margin-bottom: 1%;
}

