
<div *ngIf="product" id="container">
  <span><a routerLink="/products">All products</a> > {{product.title}}</span>
  <div id="main">
    <div id="img_container">
      <img id="product_img" [src]="product.img" alt="{{product.title}} image">
    </div>
    <div id="detail_container">
      <h1 style="font-family: 'Courier New', monospace; font-weight: bold; font-size: 2em;">{{ product.title }}</h1>
      <p id="short_desc">{{ product.description }}</p>
      <p id="currency">{{ product.price | currency }}</p>
      <div id="btn_container">
        <button (click)="addToCart()"><mat-icon class="icon">shopping_cart</mat-icon>ADD TO CART</button>
      </div>
    </div>
  </div>
    <br>
  <div id="info_container">
    <hr>
    <div class="info">
      <p>Product details</p> 
      <div class="arrow">
        <mat-icon class="icon arrow" (click)="toggleDescription()">{{ isIconExpanded ? 'expand_more' : 'chevron_right' }}</mat-icon>
      </div>
      
    </div>
    <div id="desc" [style.display]="isDescriptionVisible ? 'block' : 'none'">
      <p >{{product.description}}</p>
    </div>
    <hr>
    <div class="info">
      <p>Reviews</p>
      <div class="arrow">
        <a><mat-icon class="icon arrow" >chevron_right</mat-icon></a>
      </div>
    </div>
    <hr>
  </div>
  </div>