<div id="container">
    <div id="alt_con">
        <div id="amadeo_con">
            <img id="amadeo" src="./assets/amedeo_gif.gif" alt="">
        </div>
    <div *ngIf="typingText" id="typing-text" >{{ typingText }}</div>
  </div>
    <div id="decisions">
      <ul class="decisions-list">
        <li *ngFor="let decision of decisions" class="list-item">
          
            <button  (click)="loadNextNode(decision.children_id)" [routerLink]="decision.decision === 'Continue to the website' ? '/home' : null" class="btn">{{ decision.decision }}</button>
        </li>
      </ul>
    </div>
  
    <div id="btn-container" >
      <button id="home-button" routerLink="/home" >Go to home page</button>
    </div>
  </div>
  